* {
	padding: 0;
	margin: 0;
}

/* Classe do dinossauro */
.div-dino{
	width: 60px;
	height: 60px;
	background: url(../../img/dino.png);
	position: absolute;
	bottom: 0;
}

/* Classe do Cactus */
.div-cactus{
	position: absolute;
	width: 60px;
	height: 60px;
	bottom: 0;
	background: url(../../img/cactus.png);
}

.div-bird{
	position: absolute;
	width: 44px;
	height: 28px;
	bottom: 50;
	background: url(../../img/bird-wind-up.png);
}